{% extends 'app/base.html' %}

{% block title %}Категори{% endblock %}

{% block content %}
{% include 'app/include/header.html' %}

<style>
    .cat_list {
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .cat {
        position: relative;
        height: 300px;
    }

    .back {
        width: 100%;
        object-fit: cover;
        /*height: 100%;*/
        position: absolute;
        height: 100%;
        margin-top: 10px;
    }

    .title {
        top: 10px;
        position: relative;
        text-align: center;
        font-size: 50px;
        color: white;
        transition: 0.5s;
        height: 100%;
    }

    .title:hover {
        backdrop-filter: blur(5px);
        transition: 0.5s;
        color: black;
        /*transform: translateY(10px);*/
        background-color: white;
        opacity: 0.7;
        height: 100%;
    }
</style>

<div class="cat_list">

    {% for category in category %}
    <a href="{% url 'category-detail' category.id %}">
        <div class="cat">
            <img src="{{category.img.url}}" alt="" class="back">
            <h4 class="title">
                {{category.name}}
            </h4>
        </div>
    </a>
    {% endfor %}

</div>




<!--    <div class="card col-md-3 mb-2" >-->
<!--        <img src="" width="100" class="card-img-top"  style="object-fit: cover">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title"></h5>-->
<!--            <a href="">Видеолор...</a>-->
<!--        </div>-->
<!--    </div>-->





{% include 'app/include/footer.html' %}

{% endblock %}