{% extends 'app/base.html' %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
    {% include 'app/include/header.html' %}

    <center>
    <div class="container">

        <div class="" style="width: 70%;">
            <video class="card-img-top" width="100%" controls controlsList="nodownload">
                <source src="{{ video.file.url }}" type="video/mp4">
                <source src="{{ video.file.url }}" type="video/ogg">

            </video>
            <div class="text-light" style="backdrop-filter: blur(10px); border-radius: 10px">
                <h5 class="">{{ video.title }}</h5>
                <p class="">Описание: {{ video.description}}</p>
                <p class="">Категория: <a href="{% url 'category-detail' video.type.id%}">{{ video.type}}</a></p>
                <p class="">Ментор: <a href="{% url 'mentor-detail' video.user.id %}">{{ video.user}}</a></p>
                <p class="">Дата выхода: {{ video.date}}</p>

            </div>
        </div>
    </div>
</center>

    {% include 'app/include/footer.html' %}

{% endblock %}