{% extends 'app/base.html' %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
    {% include 'app/include/header.html' %}

    <center>
    <div class="container">

        <div class="card" style="width: 70%;">
            <video class="card-img-top" width="100%" controls controlsList="nodownload">
                <source src="{{ video.file.url }}" type="video/mp4">
                <source src="{{ video.file.url }}" type="video/ogg">

            </video>
            <div class="card-body">
                <h5 class="card-title">{{ video.title }}</h5>
                <p class="card-text">Описание: {{ video.description}}</p>
                <p class="card-text">Категория: {{ video.type}}</p>
                <p class="card-text">Ментор: {{ video.user}}</p>
                <p class="card-text">Дата выхода: {{ video.date}}</p>

            </div>
        </div>
    </div>
</center>

    {% include 'app/include/footer.html' %}

{% endblock %}