<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>Бизди колдоо үчүн бизге видео-сабактарынды тапшыр!</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/asst.oshsu"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/oshsu_asst/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://wa.link/68e4k2"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <a href="{% url 'core' %}" class="logo">
                        videolearn
                    </a>

                    <ul class="nav">

                        <li><a href="{% url 'videos' %}">Видео</a></li>
                        <li><a href="{% url 'users' %}">Колдонуучу</a></li>
                        <li><a href="{% url 'cats' %}">Категория</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Меню</span>
                    </a>

                </nav>
            </div>
        </div>
    </div>
</header>
